#DevH3{
    font-family: 'Joan', serif;
    text-align: center;
}

#MobileH3{
    font-family: 'Joan', serif;
    text-align: center;
}

#QAh3{
    font-family: 'Joan', serif;
    text-align: center;
}